@import "@/index.scss";

.chat {
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow: hidden;
}

.noOpenChatIllustration {
  flex-grow: 1;
  max-width: 368px;
  margin: 0 auto;
  animation: 200ms appear ease forwards;
}
