.layout {
  width: 100%;
  max-width: 1024px;

  height: 100%;

  padding: 32px 12px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 296px 1px auto;
  column-gap: 32px;
}

.divider {
  background-color: var(--color-gray-200);
}
