@import "@/index.scss";

.newMessageControls {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 8px;
}

.inputWrapper {
  flex-grow: 1;

  padding: 8px 10px;

  cursor: pointer;
  border-radius: 4px;
  background-color: var(--color-gray-100);

  opacity: 0;
  animation: 200ms appear ease forwards;
}

.input {
  all: unset;

  display: block;
  width: 100%;
  height: 24px;

  font-size: var(--size-14px);
  line-height: 1.5;
  color: var(--color-gray-500);
}

.button {
  all: unset;

  display: block;
  padding: 6px 12px;

  line-height: 0;

  cursor: pointer;
  border-radius: 4px;
  background-color: var(--color-purple);
  transition: all 100ms ease;

  opacity: 0;
  animation: 200ms appear ease forwards 250ms;

  &:hover {
    background-color: #513fc5;
  }

  & > * {
    fill: var(--white);
  }
}
