.searchBar {
  padding: 8px 10px;

  display: flex;
  align-items: center;
  gap: 12px;

  cursor: pointer;
  border-radius: 4px;
  background-color: var(--color-gray-100);
}

.input {
  all: unset;

  display: block;
  width: 100%;

  font-size: var(--size-14px);
  line-height: 1;
  color: var(--color-gray-500);
}
