:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --size-8px: calc(8rem / 16);
  --size-10px: calc(12rem / 16);
  --size-12px: calc(12rem / 16);
  --size-14px: calc(14rem / 16);
  --size-16px: calc(16rem / 16);
  --size-18px: calc(18rem / 16);

  --color-purple: #6956ea;
  --color-purple-light: rgba(105, 86, 234, 0.12);
  --color-green: #72bfaf;

  --color-gray-500: #5c5c5c;
  --color-gray-400: #7f7f7f;
  --color-gray-300: #a6a6a6;
  --color-gray-200: #dadada;
  --color-gray-100: #f4f4f4;

  --white: #fff;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
  font-size: var(--size-14px);
  color: var(--color-gray-400);
  letter-spacing: 1px;
  line-height: 1.5;
  font-weight: 500;
}

img {
  display: block;
}

svg {
  fill: var(--color-gray-300);
}

input {
  font-family: inherit;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
